
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1vh;
  color: white;
}

.App-link {
  color: '#8585ad';
}

.accordion-button {
  background-color: #585884 !important;
  color: white
}
.accordion-button:not(.collapsed) {
  color: white;
}
.accordion-item {
  background-color: #cdcdfe !important;
}

